{% extends 'base.html.twig' %}
{% block title %}Add Equipment{% endblock %}
{% block body %}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}

<button type="submit" class="btn btn-success">ADD</button>

{{ form_end(form) }}
{% endblock %}